/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
:root {
  --color-foreground: #ebdcff;
  --color-foreground-30: #ebdcff4d;
  --color-background: #2b213c;
  --color-background-90: #2b213ce6;
  --color-black: #655978;
  --color-red: #c79987;
  --color-green: #acc79b;
  --color-blue: #a5aad4;
  --color-yellow: #c7c691;
  --color-magenta: #c594ff;
  --color-cyan: #9bc7bf;
  --color-white: #ebdcff;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.yellow {
  color: var(--color-yellow);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

:root {
  height: 100vh;
  color: var(--color-foreground);
  font-family: "MonaspiceRn Nerd Font Mono";
  font-size: 14px; /* tuned down from 16px for 1920x1080 @ 100% scale */
  padding: 6px;
  padding-bottom: 0;
}

body,
#root {
  height: 100%;
  margin: 0; /* Also helpful to remove default spacing */
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--color-magenta); */
  /* border-radius: 10px; */
  /* background-color: var(--color-background-90); */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

.left,
/* .center, */
.right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  border: 1px solid var(--color-magenta);
  border-radius: 10px;
  background-color: var(--color-background-90);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.box {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: var(--color-background-90); */
  /* border-width: 1px;
  border-color: var(--color-background);
  border-radius: 4px; */
  position: relative;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.info {
  display: inline-block;
  /* Max width for EACH info text */
  max-width: 338px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.icon {
  display: inline-block;
  margin-right: 0.6rem;
}

.os-icon {
  font-size: 1.6rem;
}

.media-icon {
  font-size: 1.2rem;
}

.binding-mode {
  background-color: var(--color-yellow);
  border-radius: 2px;
  border: none;
  margin-right: 0.5rem;
}

.tiling-direction-icon {
  font-size: 1.2rem;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--color-yellow);
}

.ethernet-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.wifi-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.cpu-icon {
  color: var(--color-red);
  font-size: 1.6rem;
}

.memory-icon {
  color: var(--color-green);
  font-size: 1.6rem;
}

.battery-icon {
  color: var(--color-yellow);
  font-size: 1rem;
  transform: translateX(0.3rem);
}

.charging-icon {
  z-index: 100;
  position: absolute;
  font-size: 1.2rem;
  left: 0.8rem;
  bottom: 0.4rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
  color: var(--color-blue);
}

.full-icon {
  color: var(--color-green);
  font-size: 1rem;
  z-index: 100;
  position: absolute;
  left: 0.8rem;
  bottom: 0.3rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.audio-icon {
  color: var(--color-cyan);
  font-size: 1.6rem;
}

.weather-icon {
  font-size: 1.6rem;
}

.date-icon {
  color: var(--color-magenta);
  font-size: 1.6rem;
}

.workspace-button {
  font-size: 1rem;
  background: none;
  color: var(--color-foreground-30);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  border: none;

  &.has-child {
    color: var(--color-foreground);
  }

  &.focused,
  &:hover {
    color: var(--color-red);
  }

  &.focused {
    font-size: 2rem;
  }
}

.workspace-icon {
  display: inline-block;
  transform: translateX(-0.2rem);
}
